<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ header }}</h1>

    <div>
        <p>For information about retrieving your property from our yard and how the process works click <a href="/property-information" target="_blank">here</a></p>
    </div>

    <div>
        <p>Book a Property appointment: <a href="{{ prop_url }}" target="_blank">Property Redemption</a></p>
    </div>

    <div>
        <p>Book a Vehicle appointment: <a href="{{ vehicle_url }}" target="_blank">Vehicle Redemption</a></p>
    </div>

    <div>
        <p>Book a Transporter appointment: <a href="{{ transport_url }}" target="_blank">Transporter Redemption</a></p>
    </div>
</body>
</html>