<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='prop_info.css') }}">

<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ header }}</h1>
    
    <div>   
        <p>{{ message_1 }}</p>
    </div>
    <div>
        <p>{{ message_2 }}</p>
    </div>
    <div>
        <p>{{ message_3 }}</p>
    </div>
    <div>
        <p>{{ message_4 }}</p>
    </div>
    <div>
        <p>{{ message_5 }}</p>
    </div>
    <div>
        <p>{{ message_6 }}</p>
    </div>
    <div>
        <p>{{ message_7 }}</p>
    </div>

    <div>
        <p>Book a property appointment: <a href="{{ prop_url }}"> Property Redemption </a></p>
    </div>

    <div class="footer">
        <p>&copy; 2025 Nations Recovery Services, Inc. RA1022</p>
    </div>    

</body>
</html>
